<nav>
  <div class="logo">Testing Project</div>
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn">
    <span>&#9776;</span>
  </label>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a routerLink="/chat-bot" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">ChatBot</a></li>
    <li><a routerLink="/bg" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Bg</a></li>
    <li><a href="/">Tables</a></li>
    <li><a href="/">Layouts</a></li>
    <li><a href="/tools">Tools</a></li>
    <li><a routerLink="/rxjs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Rxjs</a></li>
  </ul>
</nav>
<br>

<div class="main_class">
  <router-outlet />






  
</div>