.qr-code-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .url-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .qr-code-output {
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        width: 200px;
        height: 200px;
    }
  }
  